body {
  box-sizing: border-box;
}


.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 50px;
  background: linear-gradient(to bottom, black, rgba(128, 128, 128, 0.663));
  background-color: black;
}

.links{
  color: white;
  font-size: 1.5rem;
}





h1{
  font-size: 3em;
}
